<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Database</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div th:insert="/menu :: main_menu"></div>
        <div align="center">Database KTP Indonesia</div>
        <a href="/create">Data Baru</a>
        <a href="/search">Cari Data</a>
        <div align="center">DATA E-KTP INDONESIA</div>
        <div class="table-responsive">
            <table class="table align-middle">
                <tr>
                    <th>NIK</th>
                    <th>Nama</th>
                    <th>Tanggal Lahir</th>
                    <th>Alamat</th>
                    <th>Action</th>
                </tr>
                <tr th:each="godata:${goData}">
                    <td th:text="${godata.noktp}"></td>
                    <td th:text="${godata.nama}"></td>
                    <td th:text="${#calendars.format(godata.tgllahir,'dd-MMM-yyyy')}"></td>
                    <td th:text="${godata.alamat}"></td>
                    <td></td>
                    <td>
                        <a href="/detail">Detail</a>
                        <a href="/edit">Edit</a>
                        <a href="/delete">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
