<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Database</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div th:insert="/menu :: menu"></div>
        <div class="container mt-3 mb-3">
            <div align="center" class>Database KTP Indonesia</div>
            <a th:href="@{/tambah}" class="btn btn-info mb-3">Tambah Data</a>
            <div class="table-responsive">
                <table class="table align-middle table-striped table-bordered">
                    <tr class="table-dark">
                        <th>NIK</th>
                        <th>Nama</th>
                        <th>Tanggal Lahir</th>
                        <th>Jenis Kelamin</th>
                        <th>Alamat</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="godata:${goData}">
                        <td th:text="${godata.noktp}"></td>
                        <td th:text="${godata.nama}"></td>
                        <td th:text="${#calendars.format(godata.tgllahir,'dd-MMM-yyyy')}"></td>
                        <td th:text="${godata.jeniskelamin}"></td>
                        <td th:text="${godata.alamat}"></td>

                        <td>
                            <a class="btn btn-primary" th:href="@{/detail/{id}(id=${godata.id})}">Detail</a>
                            <a class="btn btn-warning" th:href="@{/edit/{id}(id=${godata.id})}">Edit</a>
                            <a class="btn btn-danger" th:href="@{/delete/{id}(id=${godata.id})}" onclick="return confirm('Apakah Anda yakin menghapus data?')">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div th:insert="/footer :: footer"></div>
    </body>
</html>
