<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Detail Dummy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="card m-5">
                <div class="card-header bg-dark">
                    <h5 class="card-title" align="center" style="color:white">Detail Dummy</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">ID</label>
                        <p th:text="${dummy.id}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Tanggal Lahir</label>
                        <p th:text="${#calendars.format(dummy.tanggal,'dd-MMM-yyyy')}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Foto</label>
                        <img th:src="${dummy.gambar}" style="width: 200px">
                    </div>
                    <div class="mb-3">
                        <a class="btn btn-danger" href="/read">Kembali</a>
                    </div> 
                </div>
            </div>
        </div>
    </body>
</html>
