<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Edit Dummy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="card m-5">
            <div class="card-header bg-dark">
                <h5 class="card-title" align="center" style="color:white">Dummy Creating</h5>
            </div>
            <div class="card-body">
                <a th:href="@{/read}" class="btn btn-danger">Kembali</a>
                <form th:action="@{/dummy/update/{id}(id=${dummy.id})}" method="POST" enctype="multipart/form-data">
                    <div class="form-group mb-3">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" class="form-control" id="id" placeholder="ID" name="id" th:value="${dummy.id}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="tanggal" class="form-label">Tanggal</label>
                        <input type="date" class="form-control" id="tanggal" placeholder="Tanggal" name="tanggal" th:value="${#calendars.format(dummy.tanggal, 'yyyy-MM-dd')}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="gambar" class="form-label">Gambar</label>
                        <img th:src="${dummy.gambar}" style="width: 200px">
                        <input type="file" class="form-control" id="gambar" placeholder="Gambar" name="gambar" th:src="${gambar}">
                    </div>
                    <div class="mb-3">
                        
                        <button type="submit" class="btn btn-success" aria-label="Close">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
